Programs/WebApp.exe
Programs/*.log
Programs/*.dbg

Data/*.dat
Data/*.hdr
Data/*.tag
Data/*.int
Data/*.k1
Data/*.k2
Data/*.k3
Data/*.x64.cch
Data/*.log
Data/*.ini

AppSrc/*.x64.dep
AppSrc/*.x64.prn

IdeSrc/*.dsk
IdeSrc/*.mtd
*.sws

AppSrc/LoginEncryptionKey.inc

AppHtml/CssThemes/purple.zip
AppHtml/CssThemes/Df_Material - Copy/

Config.ws
*.cfg
AppSrc/WebApp.x64.dep
AppSrc/WebApp.x64.prn
